@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Bodoni Moda' ,serif;
    font-size: 1.2em;
    background: linear-gradient(to right,#041308, #0b3317);
    color:#ddd
}
.upper{
    display: flex;
    justify-content: space-between;
    background-color: #7be975;
}
.lside{
    width:50%;
    color:black;
    padding-left: 50px;
    padding-top: 30px;
    font-size: larger;
}
.rside{
    width:50%;
}
.container{
    min-height: 50vh;
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    
}
body{
    font-family:'Arial' ,serif;
    font-size: 1.2em;

}
.image{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b3317;
    
}

.im{
    width:500px;
    height:500px;
    box-shadow: 24px 30px 30px 15px rgb(0, 0, 0,0.5);
}
.im:hover{
    width:550px;
    height:550px;
    box-shadow: 24px 30px 50px 15px rgba(16, 128, 78, 0.8);
}
.left-text{
    flex-basis: 30%;
}

.heading{
    font-size: 4rem;
    color:white;
}
.sub{
    color: #ddd;
    margin-top: 10px; 
}

ul {
    list-style: none;
    text-align: end;
    padding: 30px;
    color: black;
}
li {
   display: inline; 
   padding: 20px;
}
li:hover {
    color: rgb(180, 17, 180);
}
#contact {
    background-color: #7be975;
}
.social-icons a {
    display: flex;
    flex-direction:row-reverse;
    margin: 0 10px;
    color: #212020;
    text-decoration: none;
    font-size: 1em;
    transition: transform 0.3s ease-out;
    gap: 10px;
}
.social-icons a:hover {
    transform: scale(1.2);
}
.xyz{
    display:flex;
    justify-content: space-between;
    height: 600px;
}
.container2{
    color: rgb(0, 0, 0);
    text-align: center;
}
.container3{
    max-width: 800px;
    margin: 0 auto;
}
.container4{
    width:100%;
    height: 350px;
    text-align: center;
    border: 2px solid rgb(213, 219, 215);
}
.container5{
    width:100%;
    height: 800px;
    border: 2px solid rgb(213, 219, 215);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container6{
    width:100%;
    height: 200px;
    border: 2px solid rgb(213, 219, 215);
}
.container7{
    width:100%;
    height: 200px;
    border: 2px solid rgb(213, 219, 215);
    text-align: center;
    text-decoration: double;

}
.abcd{
    list-style: none;
    text-align: start;
    padding: 30px;
    background-color: rgb(2, 82, 33);;
    color: white;
}
.cn{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    padding: 1em 0;

}
@media screen and (max-width:768px){
    .xyz{
        flex-direction: column;
        height: 1000px;
        padding-left: 200px;
    }
}
.wcard {
    box-shadow: 20px 24px 18px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width:300px;
    height:250px;

    justify-content: center;
    border-radius: 10px;
    align-items: center;
  }
.wcard:hover {
    box-shadow: 0px 5px 18px 10px rgba(30, 139, 255, 0.5);
  }
.cimg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  }
.container10 {
    display: flex;
    box-shadow: 20px 24px 18px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width:300px;
    height:250px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
  }
.ccard {
    box-shadow: 20px 24px 18px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width:300px;
    height:250px;
    justify-content: center;
    border-radius: 10px;
}
.ccard:hover {
    box-shadow: 0px 5px 18px 10px rgba(30, 139, 255, 0.5);
  }
.ccimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.container11 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    color:#ddd;
}
.html{
    height: 10px;
    justify-content: center;
    align-items: center;
}
.css{
    height: 10px;
    justify-content: center;
    align-items: center;
}
.javascript{
height: 10px;
justify-content: center;
align-items: center;
}
.sql{
    height: 10px;
    justify-content: center;
    align-items: center;
}
.linux{
    height: 10px;
    justify-content: center;
    align-items: center;
}
.cpp{
    height: 10px;
    justify-content: center;
    align-items: center;
}
.python{
    height: 10px;
    justify-content: center;
    align-items: center;
}
